@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext");

body {
  font-family: "PT Serif", serif;
  line-height: 1.6;
  padding-left: 30px;
  padding-right: 30px;
  color: #333;
  background-color: #fff8e7; /* Set to plain white */
}

::selection {
  color: #fff8e7;
  background-color: #c5c5c5;
}

.container {
  max-width: 60em;
  margin: 0px auto;
  height: auto;
  word-break: normal;
  padding-top: 36px;
}

.subtitle {
  font-style: italic;
  color: #666;
  margin: 10px 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #065588;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 1.3125em;
  line-height: 1.15;
  margin-top: 2.285714em;
  margin-bottom: 0.75em;
}

p {
  margin-bottom: 1.5em;
  margin-top: 1rem;
}

span {
  display: block;
}
